* {
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

button {
    margin: 0;
    padding: 0;
    font-size: 20px;
    border: 1px solid rgb(226, 226, 226);
    background:rgb(243, 243, 243);
}

button:hover {
    filter: brightness(95%);
}

button:active {
    filter: brightness(90%);
}

#calc-window {
    width: 560px;
    height: 720px;
    margin: 10vh auto;
    background: lightgray;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 15px lightgray;
}

#calc-top {
    flex: 1;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2em 2em 0 0;
    background: rgb(52, 56, 79);
    color: white;
}

#calc-display-top {
    align-self: flex-end;
    flex: 1;
}

#calc-display-top-number {
    padding-right: 15px;
    font-size: 24px;
    margin: 0;
}

#calc-display-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 48px;
}

#calc-display-bottom-number-container {
    display: flex;
    align-self: flex-end;
    justify-self: flex-end;
    justify-content: flex-end;
    align-items: stretch;
    gap: 1em;
    padding-right: 15px;
}

#calc-backspace-button {
    justify-self: flex-start;
    align-self: flex-start;
    width: 21%;
    height: 32px;
    background:rgb(243, 114, 114);
    color: white;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border: none;
    margin-top: -32px;
    padding: 0;
}

#calc-display-operator {
    justify-self: flex-end;
    align-self: center;
    font-size: 24px;
}

#calc-bottom {
    flex: 2.5;
    display: flex;
}

#calc-keypad {
    flex: 1.5;
    display: flex;
    flex-flow: row wrap;
    max-width: 100%;
}

.calc-button {
    height: 25%;
    flex: 1 1 26%;
    margin: 0;
    padding: 0;
}

#calc-keypad-0 {
    flex: 1 0 59.5%;
}

#calc-options {
    flex: 1;
    display: flex;
}

.calc-option {
    flex: 1 1 26%;
    font-size: 24px;
}

#calc-options-left {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#calc-options-right {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#calc-options-clear {
    background:rgb(243, 114, 114);
    color: white;
    border: none;
    border-left: 1px solid rgb(226, 226, 226);
}

#calc-options-clear-entry {
    background: rgb(109, 154, 250);
    color: white;
    border: none;
    border-left: 1px solid rgb(226, 226, 226);
}

#calc-options-equals {
    flex-basis: 52%;
    background: rgb(74, 203, 111);
    color: white;
    font-size: 36px;
    border: none;
    border-left: 1px solid rgb(226, 226, 226);
}